body {
    background-color: black;
    color: red;
}

h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

p {
    text-align: center;
}

#jogos {
    color: rgb(12, 120, 236);
}

#jogos:hover {
    color: red;
}