<<<<<<< HEAD
body {
    background-color: azure;
}

h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

p {
    text-align: center;
=======
body {
    background-color: azure;
}

h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

p {
    text-align: center;
>>>>>>> 9fa43ca7c348b5c51eb6311f26b17aa1f68ba0e1
}